p {
    background-color: cornsilk;
    color:brown
}

#main-content{
    background-color: lightblue;
}

.section-text{
    font-size: 15px;
    color: darkblue;
    text-align: right;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
